<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMl4eAbexIvLlMQTIlv1cIbg0FxoOSgVI</string>
	<key>GCM_SENDER_ID</key>
	<string>916679598679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simsoft</string>
	<key>PROJECT_ID</key>
	<string>somisoft-4e592</string>
	<key>STORAGE_BUCKET</key>
	<string>somisoft-4e592.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916679598679:ios:b20b9abd434d2c67933912</string>
</dict>
</plist>